<head>
    <title>Chess Dimension</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="active">Chess Dimension</li>
                <a style="color: white;" href="https://www.instructables.com/Playing-Chess/">How To Play</a>


                <li class="download-button"><span style="margin: auto;">
                <a style="color: aliceblue;" href="Download Package.zip">
                    Download
                </a>
            </span></li>
            </ul>
        </div>
        <div class="banner">
            <div class="main-text">
                <h1>CHESS DIMENSION</h1>
                <h2>Welcome to Chess Dimension Experience</h2>
                <h3>Enjoy our new game with your friends</p>
                    <applet code="JavaApplet.class" align="left" archive="JavaApplet.jar" height="250" width="350">
                        <param name="difficulty" value="easy">
                        <b>You need Java to play this game on the website.</b>
                      </applet>
                      <br>
                <h3 style="color: white;">Are you new to chess?</h3>
                <a style="color: antiquewhite;" href="https://www.instructables.com/Playing-Chess/">Click Here to Learn How To Play Chess</a>
            </div>
            <div class="game-picture">
                <img src="gamepic.png">
            </div>
        </div>
    </div>
</body>