*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background: #42455a;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #ffffff;
    cursor: pointer;
}
.active{
    color: turquoise !important;
}
.download-button{
    color: #ffffff;
    margin: 50px;
    top:40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),
    radial-gradient(circle at top left,red,rgb(246, 242, 1));
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.download-button span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: white;
}

.main-text h1{
    width: 100%;
    font-size: 70px;
    
}
.main-text h2{
    width: 50%;
    font-size: 36px;
    line-height: 55px;
}

.main-text h3{
    width: 650px;
    font-size: 20px;
    line-height: 40px;
    color:rgb(173, 115, 115)
}

.game-picture{
    width: 40%;
    float: right;
}

.game-picture img{
    width: 80%;
}
 